@use "/.style-abstracts" as *;

$schema: map-get($theme, schema);

body {
  --body-padding: 0.25rem;

  display: grid;
  grid-template-rows: auto 1fr;

  border-radius: var(--rounded-md);
  padding: var(--body-padding);
  margin: 0;

  min-height: 100dvh;

  color: var(--clr-surface-900);
  background-color: var(--clr-surface-100);

  &::before {
    content: "";
    position: fixed;
    inset: var(--body-padding);
    border-radius: inherit;
    box-shadow: 0 0 0.5rem 0.25rem var(--clr-surface-100),
      0 0 0.5rem 0 var(--clr-surface-500);
    pointer-events: none;
  }
}

html,
body {
  height: 100%;
}
